.Home{
    height:80vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: green;

    // background-color:$primaryBgColor;
}