*{
    margin: 0px;
    padding: 0px;
}
.Header_Nav{
    height: 10vh;
    width: 100%;
    background-color:red;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.Header_First{
    h1{
        color: white;
    }
}
.Nav{
    list-style-type:none;
    
    li{
        float: left;
        padding: 20px;
        font-size: 30px;
    

    }
}
.Nav li link{
    text-decoration: none;
    color:white;
    
}
// .link{
//     text-decoration: none;
//     color: white;
// }